body
{
    background-color: beige;
}

.un
{ 
    padding: 50px;
    color: white;
}

a
{
    background-color: rgb(50, 50, 50,0.6);
    padding-inline-start: 10px;
    margin-left: 100px;
    
}

.deux
{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 1000PX;
    background-color: coral;
}

img
{
    
    margin-top: 3%;
    margin-left: 3%;
    width: 250px;
    height: 250px;   
} 

