.banniere
{

    display: flex;
    width: 100%;
    height: 150px;
    background-color: grey;
}

.titre
{

    width: 100%;
}

h1
{
    text-align: center;
    font-size: 60px;
    align-items:center;
   
}

.ndbarre
{
    display:flex;
    background-color: darkgrey;
    width: 100%;
    height: 40px;
}

ul , li
{
    display: flex;
    flex-direction:row;
    padding-block-start: 5px;
    text-align: start;
    align-items:center;
    padding: 10px;

}