body
{

    background-color: rgb(137, 136, 131);
}

.un
{ 
    padding: 3%;
    color: white;
}

ul , li
{

    display: inline;
}

a
{

    background-color: rgb(50, 50, 50,0.6);
    margin-left: 10px;  
}

.cadre
{

    display: block;
    width: 90%;
    height: auto;
    align-items: center;
    margin-left: 5%;
 
    background-color: coral;
}

.souscadre
{
    
    display: flex;
}

.souscadreun
{
    text-align:right;
    
    display: flex;
    align-items: center;
}

img
{
    
    margin-top: 3%;
    margin-left: 3%;
    width: 250px;
    height: 250px;   
} 

footer
{
    text-align: center;
}

